html {
  box-sizing: border-box;
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: sans-serif;
    transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}
header {
	margin-top: 3rem;
}
main {
}
a {
	text-decoration: none;
	display: inline-block;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4 {
	margin: 1rem 0;
}
ul {
	list-style: none;
}

.connect {
	top: 0;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.1);
}
.connect a {
	padding: 1rem;
}
.media a {
	color: black;
	font-weight: bold;
	background-color: whitesmoke;
}
.media a:hover {
	color: white;
}
.media a:nth-child(1):hover {
	background: #55acee;
}
.media a:nth-child(2):hover {
	background: #3b5998;
}
.media a:nth-child(3):hover {
	background: #d94a39;
}
.phone a {
	font-weight: bold;
}
.navigation {
	padding: 3rem;
}
.menu {
	padding: 1rem 0;
}
.logo {
	padding: 1rem 0;
	font-size: 1.5rem;
	font-weight: bold;
}
.button {
	width: auto;
	margin: 1rem 0;
	font-weight: bold;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	display: inline-block;
	border: solid 1px black;
}
.button:hover {
	color: white;
	text-decoration: none;
	background-color: black;
}
.paralax {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.paralax > div {
	padding: 10rem 0;
}
.tiles {
	padding: 1rem;
}
.tiles > div > div {
	margin: 0.5rem;
	padding: 3rem;
	background-color: whitesmoke;
}
.tiles-2 > div > div {
	padding: 3rem;
}
.tiles-2 > div > div:nth-child(1) {
	background-color: lightgray;
}
.tiles-2 > div > div:nth-child(2) {
	background-color: whitesmoke;
}
.paragraph {
	padding: 3rem;
}

.copyright {
	background-color: whitesmoke;
}
.copyright a {
	padding: 1rem;
}
